 <div class="ui model">
  <div class="ui header">
    Your Shopping Cart
  </div>
  <div class="ui divided items">
    <ar-cart-product *ngFor="let product of fullDetailsCart" [product]="product" [amount] ="cart[product.name]"
     (changeAmount)="changeAmount($event)" (remove)="removeFromCart($event)" class="item" >
    </ar-cart-product>
    <div id ="total-price" class="ui floated left">
      <p>Total Price: <i class="shekel sign icon"></i>{{totalPrice()}} </p>
    </div>
  </div>
  <div mat-dialog-actions align="end" class="ui right floated">
    <div id="close-modal" (click)="dialogRef.close()" class="ui black cancel button">continue shopping</div>
    <div id="approve-modal" (click)="checkout()" class="ui primary button">Checkout <i class="cart shopping icon"></i></div>
  </div>
 </div>
