<div>
  <div id="item-grid" class="ui one column center aligned middle aligned page grid">
    <div class="column twelve wide">
      <div class="ui centered aligned items">
        <div class="ui centered aliened item" *ngIf="product">
            <img class= "ui medium image" src="../../assets/images/{{product.name}}.jpg">
          <div class="content">
            <div id="product-header" class="ui large header"> {{product.name}}</div>
            <div class="description">
              <div class="ui grid">
                <div class="row">
                  <div class="ui medium header"> {{product.description}} </div>
                </div>
                <div class="row">
                  <div class="ui four wide column">
                    <div class="ui fluid small header">
                      <i class="small shekel sign icon compact-icon"></i>{{product.price}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>



